/*Postres*/

#Titulo-Postres {
    text-align: center;
    background-color: rgb(26, 18, 11);
}

.Postres {
    width: 620px;
    height: 620px;
    border: 5px rgb(213, 206, 163);
    background-color: rgb(60, 42, 33);
    margin: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    border-style: double;
}

.SubTitulo-Postres {
    font-size: 25px;
}

.Imagen-Postres {
    width: 600px;
    height: 470px;
    padding-top: 10px;
}

#Postres-Postres {
    text-align: center;
}

.Info-Postres {
    font-size: 20px;
    padding-top: 10px;
    list-style: none;
}

#Main-Postres {
    background-image: url(../images/Banner-Postres.jpg);
}